*.ts
!index.ts
!character.ts
.env
*.env
.env*
/data
/generatedImages
!getJobsProvider.ts
!getBaseDocProvider.ts
!getOnchainKitProvider.ts
!getCDPProvider.ts
!getEcosystemProvider.ts
!getNotablePeopleProvider.ts
!getTutorialsProvider.ts